<div id="wrapper">
	<section>
		<% if owner_of?(current_blog) %>
		  <h3>Edit your blog</h3>
	  <% else %>
	  	<h3>Edit <%= current_blog.author.name %>'s blog</h3>
  	<% end %>
		<form action='/blogs/<%= current_blog.id %>' method='POST'>
		<input type="hidden" name="editBlog[author_id]" value="<%= logged_in_user.id %>" />
			<table id="blogEdit">
				<tr>
					<th id='label'>Title</th>
					<td id="form"><input id='blogTitle' name='editBlog[title]' type='text' value='<%= @blog[:title] || current_blog.title %>'></td>
				</tr>
				<tr>
					<th id='label'>Description</th>
					<td id="form"><input id='blogDesc' name='editBlog[description]' type='text' value='<%= @blog[:description] || current_blog.description %>'></td>
				</tr>
				<tr>
					<th id='label'>Content</th>
					<td id="form">
						<textarea name='editBlog[content]' rows="10" cols="30" id='blogContent' type='text' value='<%= current_blog.content %>'><%= @blog[:content] || current_blog.content %></textarea>
						<h5><a href="https://help.github.com/articles/markdown-basics/">Markdown guide</a></h5>
					</td>
				</tr>
			</table>
			<input type="hidden" name="_method" value="PUT" />
			<input class="button1 btn" type="submit" value="SUBMIT"></form>
		    <form action='/blogs/<%= current_blog.id %>' method='GET'>
			    <input class="button1" type="submit" value="CANCEL">
		    </form>
		    <p id="error"><%= @blog.validation_errors %></p>
		</form>
	</section>
</div>
