<div id="wrapper">
	<% if not index %>
		<form action='/blogs' method='GET'>
			<input type='submit' class='button1' value='Back to Index'>
		</form>
	<% end %>
	<% if logged_in? %>
		<form action='blogs/new' method='GET'>
			<input type='submit' class='button1' value='New Blog'>
		</form>
		<% if logged_in_user.is_admin %>
			<input type='submit' class='deleteBlogs button1' value='Remove Blogs'>
			<!-- Start delete all form --><form action='/blogs/all' method='POST'>
				<input type="hidden" name="_method" value="DELETE" />
				<input type='submit' class='toggle button1' value='Delete Selected'>
		<% end %>
	<% else %>
		<p>You can create blogs by <a href='../login'>logging in</a></p>
	<% end %>
</div>
<div id="wrapper">
	<h1><%= @page_title %></h1>
	<!-- I'll come back to this and implement pagination -->
  <% @blogs.each do |blog| %>
    <div class="content">
      <h2 id="blogTitle">
    		<input name="selected_blog[<%= blog.id %>]" class="toggle checkbox" type="checkbox">
      	<a href='blogs/<%= blog.id %>'><%= blog.title %></a>
      </h2>
      <h3 id="blogDesc"><%= blog.description %></h3>
      <div id="blogContent"><p><%= markdown(blog.first(500)) %></p></div>
      <h5 id="blogAuthor">
	      Authored by <a href="/users/<%= blog.author.id %>"><%= blog.author.name %></a> <%= time(blog) %>
      </h5>
    </div>
  <% end %>
  </form><!-- End delete all form -->
</div>
