<div id="wrapper">
	<form action='/blogs' method='GET'>
		<input type='submit' class='button1' value='Return to Index'>
	</form>
	<% if logged_in? %>
		<form action='../blogs/new' method='GET'>
			<input type='submit' class='button1' value='New Blog'>
		</form>
	<% end %>
</div>

<div id="wrapper">
	<h1 id="blogTitle"><%= current_blog.title %></h1>
	<h3 id="blogDesc"><%= current_blog.description %></h3>
  <div id="blogContent"><p><%= markdown(current_blog.content) %></p></div>
	<h5 id="blogAuthor">
		Authored by <a href="/users/<%= current_blog.author.id %>"><%= current_blog.author.name %></a> <%= time(current_blog) %>
	</h5>
  <div id="optionsWrapper">
	  <% if logged_in? %>
		  <form action="/blogs/<%= current_blog.id %>/comments/new" method='GET'>
			  <input class="buttonSmall makeComment" type="submit" value="Comment">
		  </form>
		<% else %>
			<span align='right'><a id='right' href="/login">Login to leave a comment</a></span>
		<% end %>
	  <% if privilaged(current_blog) %>
			<form action='/blogs/<%= current_blog.id %>/edit' method='GET'>
				<input class="buttonSmall" type="submit" value="Edit">
			</form> 
			<form action='/blogs/<%= current_blog.id %>' method='POST'>
	  		<input type="hidden" name="_method" value="DELETE" />
	  		<input class="buttonSmall" type="submit" value="Delete">
			</form>
		<% end %>
		<input id="doToggle" class="buttonWide commentsToggle" type="submit" value="Display Comments: <%= current_blog.comments.count %>">
	</div>
</div>

<div id="wrapper" class="toggleMakeComment">
	<section>
		<h3>Submit Comment</h3>
		<form id='commentForm' action='/blogs/<%= current_blog.id %>' method='POST'>
			<table id="commentEdit">
				<tr>
					<td><input id='commentTitle' name='title' type='text' placeholder='title'></td>
				</tr>
				<tr>
					<td>
						<textarea id='commentContent' name='content' rows="2" cols="20" type='text' placeholder='content'></textarea>
						<h5><a href="https://help.github.com/articles/markdown-basics/">Markdown guide</a></h5>
					</td>
				</tr>
			</table>
			<input dir='<%= current_blog.id %>' id='submitComment' class="button1" type="submit" value="SUBMIT"></form>
	    <form action='/blogs' method='GET'>
		    <input class="button1 makeComment" type="submit" value="CANCEL">
	    </form>
	    <% if @error %>
		    <p id="error"><%= @error %></p>
	    <% end %>
		</form>
	</section>
</div>

<div id="wrapper" class="toggle">
	<h2>Comments</h2>
	<!-- BEGIN spoofed ajax comment -->
	<% if logged_in? %>
		<div class="newContent">
		  <h2 id="commentTitle" class="newCommentTitle"></h2>
		  <div id="commentContent" class="newCommentContent"></div>
		  <h5 id="commentAuthor">
			  Posted by <a href='/users/<%= logged_in_user.id %>'><%= logged_in_user.name %></a> <i>just now</i>
		  </h5>
	  	<form action='' method='GET'>
				<input class="buttonExtraSmall" type="submit" value="Edit">
			</form> 
			<form action='' method='POST'>
	  		<input type="hidden" name="_method" value="DELETE" />
	  		<input class="buttonExtraSmall" type="submit" value="Delete">
			</form>
	  </div>
  <% end %>
  <!-- END spoofed ajax comment -->
  <!-- BEGIN actual comments -->
  <% comments(current_blog).each do |comment| %>
	  <div class="content">
		  <h2 id="commentTitle"><%= comment.title %></h2>
		  <div id="commentContent"><%= markdown(comment.content) %></div>
		  <h5 id="commentAuthor">Posted by <a href="/users/<%= comment.commenter.id %>"><%= comment.commenter.name %></a> <%= time(comment) %></h5>
		  <% if privilaged(comment) %>
		  	<form action='/blogs/<%= current_blog.id %>/comments/<%= comment.id %>/edit' method='GET'>
					<input class="buttonExtraSmall" type="submit" value="Edit">
				</form> 
				<form action='/blogs/<%= current_blog.id %>/comments/<%= comment.id %>' method='POST'>
		  		<input type="hidden" name="_method" value="DELETE" />
		  		<input class="buttonExtraSmall" type="submit" value="Delete">
				</form>
		  <% end %>
	  </div>
  <% end %>
  <!-- END actual comments -->
</div>