<div id="wrapper">
	<form action='/blogs' method='GET'>
		<input type='submit' class='button1' value='Return to Index'>
	</form>
	<% if logged_in? %>
		<form action='../blogs/new' method='GET'>
			<input type='submit' class='button1' value='New Blog'>
		</form>
	<% end %>
</div>

<div id="wrapper">
	<h1><%= current_blog.title %></h1>
	<h3><%= current_blog.description %></h3>
  <p><%= current_blog.html_content %></p>
	<h5>
		Authored by <a href="/users/<%= current_blog.author.id %>"><%= current_blog.author.name %></a> <%= time(current_blog) %>
	</h5>
  <div id="optionsWrapper">
	  <% if logged_in? %>
		  <form action="/blogs/<%= current_blog.id %>/comments" method='GET'>
			  <input id="makeComment" class="buttonSmall" type="submit" value="Comment">
		  </form>
		<% else %>
			<h5><a id='right' href="/login">Login to leave a comment</a></h5>
		<% end %>
	  <% if privilaged(current_blog) %>
			<form action='/blogs/<%= current_blog.id %>/edit' method='GET'>
				<input class="buttonSmall" type="submit" value="Edit">
			</form>
			<form action='/blogs/<%= current_blog.id %>' method='POST'>
	  		<input type="hidden" name="_method" value="DELETE" />
	  		<input class="buttonSmall" type="submit" value="Delete">
			</form>
		<% end %>
		<input id="doToggle" class="buttonWide commentsToggle" type="submit" value="Display Comments: <%= current_blog.comments.count %>">
	</div>
</div>

<div id="wrapper" class="toggleMakeComment">
	<section>
		<h1>Submit Comment</h1>
		<div id="center">
			<form id='commentForm' action='/blogs/<%= current_blog.id %>' method='POST'>
				<input id='commentTitle' name='title' type='text' placeholder='title'></td>
				<textarea id='commentContent' name='content' rows="2" cols="20" type='text' placeholder='content'></textarea>
				<h5>
					<a href="https://help.github.com/articles/markdown-basics/">Markdown guide</a>
				</h5>
				<input dir='<%= current_blog.id %>' id='submitComment' class="button1" type="submit" value="SUBMIT">
			</form>
	    <form action='/blogs' method='GET'>
		    <input id="makeComment" class="button1" type="submit" value="CANCEL">
	    </form>
	    <% if @error %>
		    <p id="error"><%= @error %></p>
	    <% end %>
		</div>
	</section>
</div>

<div id="wrapper" class="toggle">
	<h1>Comments</h1>
  <script type="template" id='commentTemplate'>
		<a id="comment_{{= newCommentId }}"></a>
	  <div class="content">
		  <h3>{{= newCommentTitle }}</h3>
		  {{= newCommentContent }}
		  <h5>
		  	Posted by <a href="/users/{{= newCommentCommenterId }}"><%= logged_in_user.name %></a> {{= newCommentTime }}
		  	<form id="editForm" action='/blogs/<%= current_blog.id %>/comments/{{= newCommentId }}/edit' method='GET'>
					<input class="buttonExtraSmall" type="submit" value="Edit">
				</form>
				<form id="deleteForm" action='/blogs/<%= current_blog.id %>/comments/{{= newCommentId }}' method='POST'>
		  		<input type="hidden" name="_method" value="DELETE" />
		  		<input class="buttonExtraSmall" type="submit" value="Delete">
				</form>
			</h5>
	  </div>
	</script>
  <div id="target"></div>

  <% if comments_exist %>
	  <% @comments.each do |comment| %>
	  	<a id="comment_<%= comment.id %>"></a>
		  <div class="content">
			  <h3><%= comment.title %></h3>
			  <%= comment.html_content %>
			  <h5>
			  	Posted by <a href="/users/<%= comment.commenter.id %>"><%= comment.commenter.name %></a> <%= time(comment) %>
				  <% if privilaged(comment) %>
				  	<form action='/blogs/<%= current_blog.id %>/comments/<%= comment.id %>/edit' method='GET'>
							<input class="buttonExtraSmall" type="submit" value="Edit">
						</form>
						<form action='/blogs/<%= current_blog.id %>/comments/<%= comment.id %>' method='POST'>
				  		<input type="hidden" name="_method" value="DELETE" />
				  		<input class="buttonExtraSmall" type="submit" value="Delete">
						</form>
				  <% end %>
			  </h5>
		  </div>
	  <% end %>
  <% else %>
	  <div id="noComments">There are no comments</div>
  <% end %>
</div>
