<div id="wrapper">
	<section>
		<% if owner_of?(@comment) %>
		  <h3>Edit your comment</h3>
	  <% else %>
	  	<h3>Edit <%= @comment.commenter.name %>'s comment</h3>
  	<% end %>
		<form action='/blogs/<%= current_blog.id %>/comments/<%= @comment.id %>' method='POST'>
			<table id="blogEdit">
				<tr>
					<th>Title</th>
					<td id="form"><input id='blogTitle' name='editComment[title]' type='text' value='<%= @comment[:title] || @comment.title %>'></td>
				</tr>
				<tr>
					<th>Content</th>
					<td id="form">
						<textarea name='editComment[content]' rows="10" cols="30" id='blogContent' type='text' value='@comment.content'><%= @comment[:content] || @comment.content %></textarea>
						<h5><a href="https://help.github.com/articles/markdown-basics/">Markdown guide</a></h5>
					</td>
				</tr>
			</table>
			<input type="hidden" name="_method" value="PUT" />
			<input class="button1 btn" type="submit" value="SUBMIT">
		</form>
	    <form action='/blogs/<%= current_blog.id %>/comments' method='GET'>
		    <input class="button1" type="submit" value="CANCEL">
	    </form>
	    <p id="error"><%= @comment.validation_errors %></p>
		</form>
	</section>
</div>
