<!-- <div id="wrapper">
	Sort by
</div> -->
<div id="wrapper">
	<h1><%= @page_title %></h1>
  <% @comments.each do |comment| %>
    <div class="content">
      <h3>
      	<a href='/blogs/<%= comment.blog_id %>/comments/<%= comment.id %>'><%= comment.title %></a>
      </h3>
      <p><%= markdown(comment.content) %></p>
      <h5>
        <a href='/blogs/<%= comment.blog_id %>/comments/<%= comment.id %>'>Permalink</a> -
        Posted to <a href="/blogs/<%= comment.blog_id %>/comments"><%= comment.blog.title %></a> by <a href="/users/<%= comment.commenter.id %>"><%= comment.commenter.name %></a> <%= time(comment) %>
      </h5>
    </div>
  <% end %>
  </form>
</div>
