<div id='wrapper'>
		<h1>Registered Users</h1>
		<table>
			<tr>
				<td><h2>Name</h2></td><td><h2>Email</h2></td><td><h2>Twitter</h2></td><td><h2>Registered</h2>
			</tr>
			<% @users.each do |user| %>
				<tr>
					<th>
						<% if user.is_admin %>
							<h3 id="admin"><a href='users/<%= user.id %>'><%= user.name %></a></h3>
						<% else %>
							<h3><a href='users/<%= user.id %>'><%= user.name %></a></h3>
						<% end %>
					</th>
					<td><%= user.email %></td>
					<td><%= user.twitter %></td>
					<td><%= time(user) %></td>
				</tr>
			<% end %>
		</table>
</div>