<div id='wrapper'>
	<h1>Profile</h1>
	<table>
		<tr>
			<th><h2>Name</h2></th><th><h2>Email</h2></th><th><h2>Twitter</h2></th><th><h2>Registered</h2></th>
		</tr>
		<tr>
			<th><%= @user.name %></th><td><%= @user.email %></td><td><%= @user.twitter %></td><td><%= time(@user) %></td>
		</tr>
	</table>
	<h3>
		<a href='/blogs/by_user/<%= @user.id %>'><%= @user.blogs.length %> Blogs</a>,
		<a href='/blogs/comments/by_user/<%= @user.id %>'><%= @user.comments.length %> Comments</a>
	</h3>
	<% if logged_in_user.is_admin || @user.id == logged_in_user.id %>
		<div id="optionsWrapper">
			<form action='/users/<%= @user.id %>/edit' method='GET'>
				<input class='buttonSmall' type='submit' value='Edit Profile'>
			</form>
		</div>
	<% end %>
</div>
